@model EmployeeAssistance.Models.ReaderViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="well bs-component">
        <form role="form" method="post">
            @Html.Partial("_Search", Model)
            <fieldset>
                <fieldset class="form-group">
                    <div class="row col-sm-6">
                        <div class="col-sm-12">
                            <button class="btn btn-link" data-toggle="modal" data-target="#AddCategoryModal">Didn't find a category? Click here to add one</button>
                        </div>
                    </div>
                    <div class="row col-sm-6 col-sm-offset-0">
                        <div class="col-sm-12">
                            <button class="btn btn-link" data-toggle="modal" data-target="#AddSubCategoryModal">Didn't find a Sub category? Click here to add one</button>
                        </div>
                    </div>
                </fieldset>
            </fieldset>
            <fieldset class="form-group"></fieldset>
          
            <div>
                <div class="row col-sm-4">
                    Enter the Description :
                </div>
                <div class="row col-sm-8">
                    @Html.TextAreaFor(model => model.information[0].Description, 5, 70, null)
                </div>
            </div>           
            <br />
            <center>
                <input class="btn btn-primary" type="submit" value="Submit">
            </center>
            @if (Model.save)
            {
                <div class="alert-info"> Data saved successfully!!!</div>
            }
        </form>

       
        <!-- Modal -->
        <div class="modal fade" id="AddCategoryModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Add Category
                        </h4>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">

                        <form action="/Category/AddCategory" method="post">
                            <div class="form-group">
                                <label for="Category">Category</label>
                                @Html.TextBoxFor(m => m.Category, new { @class = "form-control", @placeholder = "Enter category" })

                            </div>
                            <div class="form-group">
                                <label for="SubCategory">SubCategory</label>
                                @Html.TextBoxFor(m => m.SubCategory, new { @class = "form-control", @placeholder = "Enter sub category" })
                                @*<input type="text" class="form-control"
                                id="exampleInputPassword1" placeholder="Sub Category" />*@
                            </div>
                            <div class="form-group">
                                <label></label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="AddSubCategoryModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Add Sub Category
                        </h4>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form action="/Category/AddSubCategory" method="post">
                            <div class="form-group">
                                <label for="Category" class="col-sm-12">Category</label>
                                @Html.DropDownListFor(m => m.Category,
                                    new SelectList(Model.CategoryOptions, "Id", "Value", Model.CategoryOptions.FirstOrDefault().Id), new { @class = "form-control", @id = "Category" })
                            </div>
                            <div class="form-group">
                                <label for="SubCategory">SubCategory</label>
                                @Html.TextBoxFor(m => m.SubCategory, new { @class = "form-control", @placeholder = "Enter sub category" })
                                @*<input type="text" class="form-control"
                                id="exampleInputPassword1" placeholder="Sub Category" />*@
                            </div>
                            <div class="form-group">
                                <label></label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>